<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>My BlogEntities</header>
    
    @if (Request.IsAuthenticated)
    {
        <div>Hello, @User.Identity.Name &nbsp|&nbsp <a href="@Url.Action("Logout","Account")">Log Out</a>
            &nbsp|&nbsp <a href="@Url.Action("Index", "Post")">Your Posts</a>
        </div>
    }
    else
    {
        <div><a href="@Url.Action("Login", "Account")">Login</a> &nbsp| &nbsp
            <a href="@Url.Action("Register", "Account")">Register</a>
        </div>
    }
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
